
# KiCad - Ignore directories whose names end with -backups
*-backups/

# KiCad - Ignore files whose extentions end with .kicad_prl
*.kicad_prl

# hardware/simulations/Cascaded_74xx165
# hardware/simulations/Cascaded_74xx595
*.gtkw
*.vcd

# software/proofs_of_concept/Cascaded_74xx165
# software/proofs_of_concept/Cascaded_74xx595
.theia
